$header-height: 40px;
$main-color: #1388B3;
$panel-color: rgba(black, 0.3);
$font-color: white;
$yellow: #FFF001;
$green: #00B903;
$red: #F30205;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(15,90,117,1);
  background: radial-gradient(circle, rgba(15,90,117,1) 0%, rgba(2,0,36,1) 60%);
  height: 100vh;
  color: $font-color;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $panel-color;
  height: $header-height;
}

#stats-header {
  display: flex;

  > .stats {
    display: flex;
    margin-left: -10px;
    padding: 10px 20px;
    width: 30%;

    > div {
      margin-left: 10px;
      white-space: nowrap;
      text-align: center;
      flex-basis: content;

      &.warning,
      &.infectious {
        color: red;
      }

      &.recovered {
        color: $green;
      }
    }
  }

  > button {
    background-color: rgba(darken($panel-color, 50%), 1);
    border: 1px solid rgba(lighten($panel-color, 50%), 0.5);
    color: rgba(lighten($panel-color, 50%), 1);
    padding: 0 20px;
    margin-left: auto;
  }

  > .day {
    text-align: center;
    position: relative;
    padding: 10px 20px;
    width: 30%;
    margin-left: 20px;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: $green;
      z-index: -1;
      transition: none;
      width: 0;
    }

    &.full:before {
      width: 100%;
      transition: width 2s linear;
    }
  }
}

#map-container {
  text-align: center;
  padding-top: 25vh;
  padding-left: 250px;
  padding-right: 20vw;

  > canvas {
    max-width: 100%;
  }

  > .tooltip {
    position: fixed;
    z-index: 9999;
    display: block;
    background: rgba($panel-color, 0.75);
  }
}

#counter-measures {
  position: fixed;
  left: 0;
  top: $header-height;
  max-height: 90vh;
  background-color: $panel-color;
  padding: 0 10px;

  > .measure {
    width: 20vw;
    padding: 0 20px;

    > h2 {
      font-size: 16px;
    }

    > .rc-slider {
      height: 40px;
      margin-bottom: 30px;

      > .rc-slider-rail {
        background-color: lighten($panel-color, 50%);
      }

      > .rc-slider-handle {
        background-color: rgba(lighten($panel-color, 70%), 1);
        border-color: rgba(lighten($panel-color, 70%), 1);
      }

      .rc-slider-dot {
        background-color: rgba(lighten($panel-color, 30%), 0.5);
        border-color: rgba(lighten($panel-color, 30%), 0.5);
      }

      > .rc-slider-mark {
        > .rc-slider-mark-text:nth-child(4) {
          transform: translateY(20px) translateX(-50%) !important;
        }
      }
    }
  }
}

.tooltip-container {
  position: relative;

  &:hover {
    .tooltip {
      display: block;
    }
  }
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20vw;
  background: darkgray;
  font-size: 12px;
  border: $panel-color solid 1px;
  padding: 10px;
  display: none;
  z-index: 998;
  pointer-events: none;
  text-align: left;
}

#charts-bar {
  position: fixed;
  top: $header-height;
  right: 0;
  background: $panel-color;
  width: 20vw;

  > .chart {
    > h3 {
      color: white;
      font-size: 1rem;
      text-align: center;
    }

    > .js-plotly-plot {
      height: 100px;
      width: 100%;
    }
  }
}

#end-screen {
  background: rgba($panel-color, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: grey;
    padding: 20px 50px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $panel-color;
  color: $font-color;
}

#news-ticker {
  padding-top: 15px;
  padding-bottom: 5px;
}

#copyright {
  padding: 5px 10px;
  text-align: center;
  font-size: 10px;
}

.red {
  color: red;
}

.green {
  color: $green;
}
